p
{
    color:rgb(116, 56, 14);
font-size: larger;
font-weight: 500;
}

body
{
background-color: burlywood;
font-family: Bokor;
}
img
{
width: 1000px;
border: 10px;
border-color: brown;
border-style: dashed;
}




